/* GENERAL */

*,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: hsl(30, 38%, 92%);
  justify-content: center;
  align-items: center;
  display: flex;
}

main {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
}

/* PRODUCT */

.product {
  border-radius: 0.625rem;
  background-color: hsl(0, 0%, 100%);
  background-repeat: no-repeat;
  height: 28.125rem;
  width: 37.5rem;
  background-size: 50% 100%;
  background-position: left;
  background-image: url(../images/image-product-desktop.jpg);
}

.product__description-box {
  margin-left: 50%;
  padding: 1.9375rem 2rem 0;
  text-align: left;
}

.product__cart-button {
  width: 100%;
  background-color: hsl(158, 36%, 37%);
  color: white;
  font-size: 0.75rem;
  font-weight: bold;
  border-style: none;
  border-radius: 0.625rem;
  height: 3rem;
}

.product__cart-button:active {
  background-color: #184131;
}

.product__name {
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.9375rem;
  margin-bottom: 1.625rem;
}

.product__sort {
  font-weight: 500;
  font-size: 0.75rem;
  letter-spacing: 0.3125rem;
  margin-bottom: 1.25rem;
}

.product__description {
  font-size: 0.875rem;
  line-height: 1.4375rem;
  margin-bottom: 1.375rem;
}

.product__price-new {
  color: hsl(158, 36%, 37%);
  font-family: 'Fraunces', serif;
  font-size: 1.9375rem;
  padding-right: 1.25rem;
  padding-left: 0.1875rem;
}

.product__price-old {
  text-decoration: line-through;
  font-size: small;
}

.product__price {
  margin-bottom: 1.3125rem;
  vertical-align: middle;
}

@media (max-width:23.4375rem) {
  .product {
    height: 38.1875rem;
    width: 21.4375rem;
    background-size: 21.4375rem 15rem;
    background-position: top;
    background-image: url(../images/image-product-mobile.jpg);
  }

  .product__description-box {
    width: 100%;
    height: 23.1875rem;
    padding: 16.5625rem 1.5rem 1.5rem;
    text-align: left;
    margin: 0;
  }

  .product__sort {
    margin-bottom: 0.625rem;
  }

  .product__name ,.product__description{
    margin-bottom: 1rem;
  }

  .product__price {
    margin-bottom: 0.8125rem;
  }
}

/* ATTRIBUTION */

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}